/*$defaultColor:#c21e6a;*/
body{
	margin:0;
	padding: 0; 
	overflow-x: hidden;
	/* height: 1000vh; */
}
*{

	box-sizing: border-box;
}
a{
	text-decoration: none;
}
.container .tab li{
	min-height: 10vh;
	text-decoration: none;
	list-style: none;
	float: right;
	display: flex;
	flex-direction: row;
	border-left:0.5px solid black;
	min-width:10vw;

	text-align: center !important;
}
.container .tab li:hover{
	background-color: #ffffff98;
}
.container .tab li a{
	min-height:100%;
	width: 100%;
	color: #c21e6a;
	font-weight: bold;
	line-height: 100%;
	padding-top: 2.4vh;
}
.nav-header{
	float:left;
	width:20vw;
	min-height: 100%;
}
.nav-header h1{
	padding: 0px;
	margin: 3%;
	margin-left:2vw;
}
.nav-header h1 a{
	font-size: 2rem;
	font-weight: bold;
	color: #c21e6a;
}
.tab,ul{
	min-height: 100%;
	margin: 0px;
}

.header .container{
	min-height: 10%;
	max-height: 100px;
	background-color: white;
}
.tab li.active{
	background-color: #c21e6a;
}
.tab li.active a{
	color:white;
}
.image{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.image.image1{
	background-image: url('image1.jpg');
	animation-name: crousel;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}
/* -------------------------------------------------------- */
.container2{
	height: 100%; 
	min-height: 100vh;
	background-color: #eee;
}
.services-head{
	margin-top:5vh;
	min-height: 10vh;
}
.services-head h1{
	color: #c21e6a;
	text-align: center;
	font-size: 1.5rem;
}
.description .text{
	font-style: oblique;
}
.services-head .text h1{
	padding: 0px;
	margin: 2vh;
}

.services{
	border:0.5px solid #aaa;
	border-radius: 4px;
	min-height: 70vh;
	padding: 15px;
	margin:10px;
	background-color: white;
	margin-bottom: 1vh;
	/*position: absolute;*/

}
.bold-line{
	height: 2vh;
	background-color: #c21e6a;
	margin-top: 4vh;
	border-radius:10px;
}
.room{
	min-height:30vh;
	border: 1px solid black;
	border-radius: 4px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1000;
	/* position: absolute; */
}
.services:hover{
	box-shadow: 0px 0px 8px 0px black;
}
.room1{
	background-image: url('room1.jpg');
}
.room2{
	background-image: url('room2.jpg');
}
.room3{
	background-image: url('room3.webp');
}
.description{
	min-height: 25vh;
}
.description h4{
	color: #c21e6a;
	text-align: center;
	font-size:1.5rem;
	margin-bottom: 10px;
}
.description .text{
	word-spacing: 5px;
	text-align: center;
}
.btn{
	height: 40px;
	border:0.5px solid #aaa;
	background-color: #c21e6a;
	color:white;
	border-radius: 4px;
	font-weight: 600;
	margin-left:33.33%;
	margin-top: 2vh;
	margin-bottom: 2vh;
	cursor: pointer;
}
.btn:hover{
	background-color: #c4446a99;
}

.price-tag{
	margin-top: 10px;
	background-color: #c21e6a80;
	color:white;
	font-weight: bold;
	padding: 10px;
	min-height: 40px;
	width:35%;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	/* border-radius: 4px; */
}
/* ----------------------------------------------------------------------- */

.container3{
	height: 100%;
	min-height: 100vh;
	background-color:#000034;
}
.facilities-icons{
	padding: 0px 10vw 0px 10vw;
}
.facilities-icons i{
	color:white;
	font-size: 5vw;
	text-align: center;
}
.facilities-icons h5{
	color:white;
}

.facilities-icons div{
	padding: 1vw 3vw 1vw 3vw;
	text-align: center;
}
.facilities-icons div:hover{
	cursor: pointer;
	/* padding: 1vw 3vw 1vw 3vw; */
}
.facilities-icons div:hover i,.facilities-icons div.active i{
	color:#c21e6a;
	font-size: 4vw;
	transition: 0.2s;
}
.facilities-icons div.active{
	border-bottom: 1px solid #c21e6a;
	transition: 0.2s;
	transition-timing-function: ease-out;
	/* padding: 1.426vw 3vw 1.43vw 3vw; */
}
.facilities-icons div:hover h5,.facilities-icons div.active h5{
	color:#c21e6a;
	transition: 0.2s;
}
.facilities-description{
	padding: 0.5vw;
	border: 0.5px solid #aaa;
	min-height: 55vh;
	margin-top:1%;
	margin-left:8.33%;
	border-radius: 4px;
	margin-bottom: 3vh;
	display: none;
	background-color: #ffffff40;
}
.facilities-description .facilities-image{
	border:0.5px solid #aaa;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 52vh;
}
.facilities-description .text{
	padding: 2vh;
	/* border:1px solid white; */
	min-height: 40vh;
	font-size: 20px;
	color:white;
	font-style: oblique;
}
.facilities-description h3{
	font-style: normal;
	color:#c21e6a;
}
.facilities-description#resturant{
	display: block;
}
#resturant .facilities-image{
	background-image: url('food.jpg');
	
}
#gym .facilities-image{
	background-image: url('gym.jpg');
}
#swimming .facilities-image{
	background-image: url('pool.jpg');
}
#ac .facilities-image{
	background-image: url('ac.jpeg');
}
#wifi .facilities-image{
	background-image: url('wifi.jpg');
}
#game-center .facilities-image{
	background-image: url('game.jpg');
}
.service-fee-time{
	font-style: italic;
	padding: 2vh;
}
/* ------------------------------------------------------- */
.foot{
	min-height: 20vh;
	background-color: #333;
	color:white;
}
.foot-part{
	/* border:1px solid black; */
	height: 20vh;
	padding:2vh 2vw 2vh 2vw;
	text-align: center;
	font-style: italic;
}
.trade{
	text-align: center;
	font-style: italic;
	padding-top: 5vh;
}
.social-icon{
	height: 30px;
	width: 30px;
	float: left;
	padding: 4px;
	background-color:#ccc;	
	border: 1px solid black;
	border-radius:50%;
	margin-left: 10px;

	font-size: 20px;
}
.social-icon:hover{
	padding: 5px;
	font-size: 18px;
}
.social-icon.tw{
	margin-left: 25%;
}
.foot-part h4{
	margin:0px;
	padding-bottom: 5px;
	color:#c21e6a;	
}
.foot-part a{
	text-decoration: none;
	color: black;
}
.social-icon.gp:hover a{
	color:#aa0000;
}
.social-icon.insta:hover a{
	color:#c21e6a;
}
.social-icon.face:hover a{
	color:#0000aa;
}
.social-icon.tw:hover a{
	color:#4499ff;
}
.book li{
	list-style-type: none;
}
.book li a{
	color: white;
}
.nav-tab .tab{
	height: auto;
}
.nav-tab li{
	list-style-type: none;
}
.nav-tab li a{
	color: white;
}
.foot-part a:hover{
	color:#aaa;
}


















@keyframes crousel{
	0%{
		background-image: url('image1.jpg');
	}
	20%{
		background-image: url('image1.jpg');
	}
	25%{
		background-image: url('image2.jpg');
	}
	45%{
		background-image: url('image2.jpg');

	}
	50%{
		background-image: url('image3.jpg');

	}
	70%{
		background-image: url('image3.jpg');

	}
	75%{
		background-image: url('image4.jpg');

	}
	95%{
		background-image: url('image4.jpg');
	}
	100%{
		background-image: url('image1.jpg');
	}
}
@media only screen and (max-width:719px){
	.facilities-icons{
		padding: 0px;
	}
	.facilities-description{
		margin-left:4.165%;
		min-height: 100px;
		padding: 2vw;
	}
	.facilities-description .facilities-image{
		min-height: 30vh;
	}
	.facilities-description .text{
		min-height: 30vh;
	}

}